[tool.poetry]
name = "pygoodwe"
version = "0.1.4"
description = "A command line tool and python library to query the GOODWE SEMS Portal APIs."
authors = ["James Hodgkinson <james@terminaloutcomes.com>"]
license = "MIT"

classifiers = [
        "Development Status :: 4 - Beta",
        "Programming Language :: Python :: 3",
        "Programming Language :: Python :: 3.7",
        "License :: OSI Approved :: MIT License",
        "Operating System :: OS Independent"
]
keywords = [
    "goodwe",
    "solar",
    "api",
    "pygoodwe"
]
readme = "README.md"


[project.urls]
documentation = "https://yaleman.github.io/pygoodwe/"
homepage = "https://github.com/yaleman/pygoodwe"
repository = "https://github.com/yaleman/pygoodwe"


[tool.poetry.dependencies]
python = "^3.8"
requests = "^2.28.1"

[tool.poetry.dev-dependencies]
types-requests = "^2.28.11"
pylint = "^2.15.5"
pytest = "^7.1.3"
mypy = "^0.991"
black = "^22.10.0"
pylint-pytest = "^1.1.2"
mkdocs = "^1.4.2"
mkdocs-material = "^8.5.10"
mkdocstrings = "^0.19.0"
mkdocstrings-python = "^0.8.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pylint.MASTER]
disable="W0511"
max-line-length=150
load-plugins="pylint_pytest"
