---
name: MKDocs Deployment to GitHub Pages

"on":
  push:
    branches:
      - main

jobs:
  mkdocs:
    name: Deploy docs
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout main
        uses: actions/checkout@v6.0.2
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"
      - name: Running mkdocs
        run: |
          python -m pip install --quiet --no-cache-dir --upgrade uv
          uv run mkdocs gh-deploy -m 'Commit {sha} MkDocs {version}' --force
