name: pylint

"on":
  push:
    branches:
      - main  # Set a branch to deploy
  pull_request:

jobs:
  pylint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5.0.0
        with:
          fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod
      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Running tests
        run: |
            python -m pip install --quiet --no-cache-dir --upgrade uv
            uv run ruff check $(basename $(pwd) | sed -E 's/-/_/g')
            uv run ruff check tests/
            uv run validate-pyproject pyproject.toml